.sidebar {
    height: 100%;
    background-color: #000000a9;
    padding: 1vw;
    box-sizing: border-box;
    color: #fff;
    overflow: hidden;
    border-radius: 1rem 0 0 1rem;
    transition: width .75s ease, padding .75s ease;
    /* padding에도 transition 적용 */
    position: fixed;
    right: -2.5rem;
}

.sidebarList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.sidebarContact {
    margin-bottom: 10rem;
}

.sidebarItem {
    padding: 10px 10px;
    border-bottom: 1px solid #ffffff46;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

.sidebarItem:hover {
    background-color: #ffffff45;
}

.navLink {
    display: inline-flex;
    align-items: center;
    /* Align items vertically */
    column-gap: 1rem;
    /* Space between icon and text */
    text-decoration: none;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    /* Prevent wrapping of text */
    overflow: hidden;
    /* Prevent overflow */
    text-overflow: ellipsis;
    /* Add ellipsis to overflowing text */
    min-width: 150px;
    /* Set a minimum width */
}

.itemTxt {
    font-size: 1.2rem;
}

.navLink:hover {
    color: #49a8f7;
    /* Hover 시 글자 색상을 빨간색으로 변경 */
}

.attribute {
    position: absolute;
    bottom: 10px;
}

.toggleButton {
    position: fixed;
    /* 버튼을 고정 위치에 둡니다 */
    top: 10px;
    /* 상단에서의 위치 */
    border: none;
    /* 테두리 없음 */
    border-radius: 5px;
    /* 둥근 모서리 */
    background-color: #4b4b4b;
    padding: 10px;
    /* 내부 여백 */
    cursor: pointer;
    /* 마우스 커서 스타일 */
    z-index: 200;
    /* Sidenav 위에 표시되도록 z-index 설정 */
    transition: right .75s ease;
}

.sea1 {
    width: 3rem;
    height: 3rem;
}

@media all and (min-width:1024px) and (max-width:1279px) {}

@media all and (min-width:768px) and (max-width:1023px) {}

@media all and (min-width:480px) and (max-width:767px) {}

@media all and (min-width:200px) and (max-width:479px) {}