#announceDetailContainer {
    height: 100vh;
    width: 100vw;
    background: rgb(39, 38, 38);
    display: flex;
    flex-direction: column;
}

#pageTitleBox {
    width: 80%;
    height: 10%;
    margin: 50px auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pageTitle {
    width: 70%;
    margin-bottom: 5vh;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin-bottom: 0;
    font-size: 2.3vh;
    color: white;
}

#detailBox {
    border: none;
    border-radius: 1vh;
    width: 80%;
    height: 80%;
    margin: 0 auto 50px auto;
    background-color: #00000081;
}

#tableBox {
    width: 100%;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
}

.table {
    border: 0.1vh solid rgb(66, 66, 66);
    width: 90%;
    color: white;
    background-color: #373737;
}

.thead .cell {
    /* border-bottom: 0.1vh solid rgb(66, 66, 66); */
    border: 0.1vh solid rgb(66, 66, 66);
    text-align: center;
    box-sizing: border-box;
}

.thead {
    background-color: #000;
    /* 배경색을 검정색으로 설정 */
    color: #fff;
    /* 텍스트 색상을 흰색으로 설정 */
}

.thead .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.number {
    width: 20%;
    order: 1;
}

.title {
    width: 60%;
    order: 2;
}

.writer {
    width: 20%;
    order: 3;
}

.creDate {
    width: 20%;
    order: 1;
}

.creDate_blank {
    width: 30%;
    order: 2;
}

.updateDate {
    width: 30%;
    order: 3;
}

.updateDate_blank {
    width: 20%;
    order: 4;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;

    white-space: normal;
    width: 95%;
    height: 30vh;
    margin: 0 auto;
}

.link {
    margin: 0 0 0 7vw;
}

.announce_list_btn {
    cursor: pointer;
    background-color: #d7d7d7;
    border: none;
    border-radius: 0.1vh;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin: 3vh 0;
    font-size: 2vh;
}

.announce_list_btn:hover {
    background-color: #5164f5;
    box-shadow: 0 1vh 3vh rgb(0, 0, 0);
}

@media all and (min-width: 320px) and (max-width: 1024px) {
    .number,
    .writer {
        width: 50%;
        order: 1;
    }

    .title {
        width: 100%;
        order: 2;
    }

    .creDate,
    .creDate_blank {
        width: 50%;
        order: 1;
    }

    .updateDate,
    .updateDate_blank {
        width: 50%;
        order: 2;
    }
}
@media all and (min-width: 320px) and (max-width: 768px) {
    #detailBox {
        margin-left: 1vw;
        margin-right: 1vw;
        width: 98vw;
    }
}

@media all and (min-width: 320px) and (max-width: 425px) {
    .table {
        width: 96vw;
    }
    .thead {
        font-size: 14px;
    }
}
