.RedDot {
    position: absolute;
    width: 1.5vh;
    height: 1.5vh;
    top: 65.5vh;
    left: 4.5vw;
    background-color: red;
    border-radius: 50%;
    z-index: 2;
    font-size: 1vh;
    opacity: 0.1px;
  }