.find_address_button {
    font-size: 1.2vh;
    color: white;
    background-color: #333;
    /* 버튼의 배경 색상 */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 0.5vw;
    /* 입력 필드와 버튼 사이의 간격 */
    transition: background-color 0.3s;
    width: 5vw;
    height: 5.5vh;
    font-size: 1.5vh;
}

.find_address_button:hover {
    background-color: #5593ff;
    /* 버튼에 마우스를 올렸을 때의 배경 색상 변경 */
}