/* body {
    padding: 1.5em;
    background: rgb(39, 38, 38);
}

div {
    border: none;
} */

#container {
    width: 100%;
    height: auto;
    margin: 0 auto 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #343a43;
}


#tableBox {
    width: 100%;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
}

#buttonBox {
    width: 100%;
}

#pagination_box {
    width: 90%;
    height: auto;
    margin: 10px auto;
}

.table {
    width: 90%;
    color: white;
    background-color: #373737;
    border-bottom: 0.1vh solid rgb(66, 66, 66);
}

.table td,
.table th {
    border-bottom: 0.1vh solid rgb(66, 66, 66);
}

.article_no {
    width: 20%;
    text-align: center;
}

.article_title {
    width: 40%;
    text-align: center;
}

.article_user {
    width: 10%;
    text-align: center;
}

.article_reads {
    width: 15%;
    text-align: center;
}

.article_like {
    width: 15%;
    text-align: center;
}


.thead tr {
    background-color: #000;
    /* 배경색을 검정색으로 설정 */
    color: #fff;
    /* 텍스트 색상을 흰색으로 설정 */
}

.boardlist_btn {
    background-color: #d7d7d7;
    border: none;
    border-radius: 0.1vh;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin: 3vh 0 0 8.5vh;
    font-size: 2vh;
}

.boardlist_btn:hover {
    background-color: #5164f5;
    box-shadow: 0 1vh 3vh rgb(0, 0, 0);
}