#boardWriteContainer {
    height: 100vh;
    background: rgb(39, 38, 38);
    display: flex;
    flex-direction: column;
}

#pageTitleBox {
    width: 80%;
    height: 40px;
    margin: 50px auto 0 auto;

    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    background-image: linear-gradient(
        to bottom,
        rgb(166, 166, 167),
        rgb(8, 8, 20)
    );
}

.pageTitle {
    width: 90%;
    line-height: 40px;
    color: white;
    border: none;
    margin: 0 auto;
}

#write_box {
    width: 80%;
    height: auto;
    margin: 0 auto;

    background-color: #343a43;
}

#flex_box {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}

.title {
    width: 50%;
    color: white;
    border-color: gray;
    background-color: #343a43;
    /* margin: 10px auto 10px 40px; */
}

.input {
    width: 90%;
    height: 30px;
    border-radius: 5px;
}

.category {
    width: 50%;
    color: white;
    border-color: gray;
    background-color: #343a43;
    /* margin: 10px 40px 10px auto; */
    text-align: right;
}

.select {
    height: 30px;
    border-radius: 5px;
}

.editor {
    width: 90%;
    color: black;
    border-color: gray;
    background-color: #343a43;
    margin: 20px auto;
}

#button_box {
    width: 80%;
    text-align: right;
    margin: 0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #343a43;
}

.buttons {
    width: 90%;
    margin: 20px auto;
}

.complete_button {
    height: 35px;
    border-radius: 5px;
}
.cancle_button {
    height: 35px;
    border-radius: 5px;
}
