#boardUpdateContainer {
    background: rgb(39, 38, 38);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}

#pageTitleBox {
    width: 80%;
    height: 40px;
    margin: 50px auto 0 auto;

    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    background-image: linear-gradient(to bottom,
            rgb(166, 166, 167),
            rgb(8, 8, 20));
}

.title_input {
    width: 90%;
}

.pageTitle {
    width: 90%;
    line-height: 40px;
    color: white;
    border: none;
    margin: 0 auto;
}

#updateBox {
    width: 80%;
    height: auto;
    margin: 0 auto;
    background-color: #121212a5;
}



.table {
    /* border: 1px solid #000; */
    width: 90%;
    border-collapse: collapse;
    color: white;
    border-color: gray;
    margin: 20px auto;
}

/* td,
th {
    border: none;
} */

/* input,
textarea {
    border: none;
} */

/* .complete_button {
    margin: 0 20px 0 5px;
} */

.number {
    width: 30%;
    text-align: center;
    border: 1px solid gray;
}

.boarddetail_title th {
    border: 0.1vh solid gray;
}

.title {
    width: 40%;
    text-align: center;
}

.date {
    border: 0.1vh solid gray;
}

.writer {
    width: 30%;
    text-align: center;
    border-bottom: 1px solid gray;
}

.category {
    width: 14%;
    text-align: center;
    border-bottom: 1px solid gray;
}

.category_blank {
    width: 16%;
    text-align: center;
    border-bottom: 1px solid gray;
}

.reads {
    width: 20%;
    text-align: center;
    border-bottom: 1px solid gray;
}

.reads_blank {
    width: 20%;
    text-align: center;
    border-bottom: 1px solid gray;

}

.like {
    width: 14%;
    text-align: center;
    border-bottom: 1px solid gray;
}

.like_blank {
    width: 16%;
    text-align: center;
    border: 0.1vh solid gray;
}

.creDate {
    width: 25%;
    text-align: center;
    border-bottom: 1px solid gray;
}

.creDate_blank {
    width: 25%;
    text-align: center;
    border-bottom: 1px solid gray;

}

.updateDate {
    width: 25%;
    text-align: center;
    border-bottom: 1px solid gray;
}

.updateDate_blank {
    width: 25%;
    text-align: center;
    border-bottom: 1px solid gray;
}

.content {
    white-space: normal;
    width: 100%;
    box-sizing: border-box;
}

.contentTextarea {
    /* 이 클래스 이름은 실제 사용하는 CSS 모듈에 따라 다를 수 있음 */
    width: 100%;
    /* 부모의 전체 너비 사용 */
    height: 200px;
    /* 필요한 높이 설정 */
    padding: 10px;
    /* 내용과 경계 사이에 약간의 공간 추가 */
    box-sizing: border-box;
    /* 패딩을 포함한 총 높이와 너비 유지 */
    border: 1px solid #ccc;
    /* 경계선 스타일 */
    border-radius: 5px;
    /* 경계선 둥글게 처리 */
}

#buttonBox {
    width: 80%;
    text-align: right;
    margin: 0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #121212a5;
}

#updateButton {
    width: 90%;
    margin: 20px auto;
}

.button {
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 1vh;
}

.button:hover {
    background-color: rgb(239, 138, 138);
    box-shadow: 0vh 0vh 2vh 2vh rgb(0, 0, 0);
}