#boardDetailContainer {
    background: rgb(39, 38, 38);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}

#pageTitleBox {
    width: 80%;
    height: 40px;
    margin: 50px auto 0 auto;

    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    background-image: linear-gradient(to bottom,
            rgb(166, 166, 167),
            rgb(8, 8, 20));
}

.pageTitle {
    width: 90%;
    line-height: 40px;
    color: white;
    border: none;
    margin: 0 auto;
}

#detailBox {
    width: 80%;
    height: auto;
    margin: 0 auto;
    background-color: #121212a5;
}

.table {
    /* border: 1px solid #000; */
    width: 90%;
    border-collapse: collapse;
    color: white;
    border-color: gray;
    margin: 20px auto;
}

.boarddetail_title th {
    border: 0.1vh solid gray;
}

.number {
    width: 10%;
    text-align: center;
    font-size: 2vh;
}

.title {
    width: 40%;
    text-align: center;
}

.writer {
    width: 10%;
    text-align: center;
}

.category {
    text-align: center;
}

.category_blank {
    text-align: center;
}

.reads {
    width: 20%;
    text-align: center;
}

.reads_blank {
    text-align: center;
    border-bottom: 1px solid gray;
}

#buttons {
    border: none;
}

.likeButton {
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.like_blank {
    width: 16%;
    text-align: center;
    border-bottom: 1px solid gray;
}

.imgHeart {
    width: 30px;
    height: 30px;
}

.creDate {
    width: 25%;
    text-align: center;
    border-bottom: 1px solid gray;
}

.creDate_blank {
    width: 25%;
    text-align: center;
    border-bottom: 1px solid gray;
}

.updateDate {
    width: 25%;
    text-align: center;
    border-bottom: 1px solid gray;
}

.updateDate_blank {
    width: 25%;
    text-align: center;
    border-bottom: 1px solid gray;
}

.board_content {
    height: 30vh;
    border: 0.1vh solid gray;
}

.content {
    white-space: normal;
    height: 100%;
}

#button_box {
    /* height: 40px;
    line-height: 40px;
    text-align: right; */

    width: 80%;
    text-align: right;
    margin: 0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #121212a5;
}

#buttons {
    width: 90%;
    margin: 3vh auto;
}

.delete_button {
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 1vh;
}

.delete_button:hover {
    background-color: rgb(239, 138, 138);
    box-shadow: 0vh 0vh 2vh 2vh rgb(0, 0, 0);
}


.list_button {
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 1vh;
}

.list_button:hover {
    background-color: #7eeb65;
    box-shadow: 0vh 0vh 2vh 2vh rgb(0, 0, 0);
}

.update_button {
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 1vh;
}

.update_button:hover {
    background-color: #659deb;
    box-shadow: 0vh 0vh 2vh 2vh rgb(0, 0, 0);
}

#comment_box {
    /* height: 40px;
    line-height: 40px;
    text-align: right; */

    width: 80%;
    /* text-align: right; */
    margin: 20px auto;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    border-radius: 10px;
    background-color: #121212a5;
}

#comment {
    width: 90%;
    margin: 20px auto;
    font-size: 2vh;
}

.inputBox {
    display: flex;
    margin: 20px auto;
    justify-content: space-evenly;
}

.input {
    width: 50vw;
}

.inputButton {
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 1vh;
}

.inputButton:hover {
    background-color: #659deb;
    box-shadow: 0vh 0vh 2vh 2vh rgb(0, 0, 0);
}

.commentListBox {
    color: white;
}

.boarddetail_title {
    height: 8vh;
    font-size: 2.3vh;
}

.boarddetail_1 {
    height: 3vh;
    width: 100%;
    border-right: 0.1vh solid gray;
    border-left: 0.1vh solid gray;

}

.articleLikes {
    color: white;
}

.heart {
    width: 12vh;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment {
    color: white;
    margin: 0;
}

@media all and (min-width:1024px) and (max-width:1279px) {}

@media all and (min-width:768px) and (max-width:1023px) {}

@media all and (min-width:480px) and (max-width:767px) {

    .number,
    .title,
    .writer,
    .category,
    .creDate,
    .fixDate {
        font-size: 1.5vh;
    }
}

@media all and (min-width:200px) and (max-width:479px) {

    .number,
    .title,
    .writer,
    .category,
    .creDate,
    .fixDate {
        font-size: 1.5vh;
    }

}