#boardDetailContainer {
    height: 100vh;
    background: rgb(39, 38, 38);
    display: flex;
    flex-direction: column;
}

#pageTitleBox {
    width: 80%;
    height: 40px;
    margin: 50px auto 0 auto;

    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    background-image: linear-gradient(
        to bottom,
        rgb(166, 166, 167),
        rgb(8, 8, 20)
    );
}

.pageTitle {
    width: 90%;
    line-height: 40px;
    color: white;
    border: none;
    margin: 0 auto;
}

#detailBox {
    width: 80%;
    height: auto;
    margin: 0 auto;
    background-color: #343a43;
}

.table {
    /* border: 1px solid #000; */
    width: 90%;
    border-collapse: collapse;
    color: white;
    border-color: gray;
    margin: 20px auto;
}

.number {
    width: 30%;
    text-align: center;
    border-bottom: 1px solid gray;
}

.title {
    width: 40%;
    text-align: center;
    border-bottom: 1px solid gray;
}

.writer {
    width: 30%;
    text-align: center;
    border-bottom: 1px solid gray;
}

.category {
    width: 14%;
    text-align: center;
    border-bottom: 1px solid gray;
}

.category_blank {
    width: 16%;
    text-align: center;
    border-bottom: 1px solid gray;
}

.reads {
    width: 20%;
    text-align: center;
    border-bottom: 1px solid gray;
}

.reads_blank {
    width: 20%;
    text-align: center;
    border-bottom: 1px solid gray;
}

.like {
    width: 14%;
    text-align: center;
    border-bottom: 1px solid gray;
}

.like_blank {
    width: 16%;
    text-align: center;
    border-bottom: 1px solid gray;
}

.imgHeart {
    width: 30px;
    height: 30px;
}

.creDate {
    width: 25%;
    text-align: center;
    border-bottom: 1px solid gray;
}

.creDate_blank {
    width: 25%;
    text-align: center;
    border-bottom: 1px solid gray;
}

.updateDate {
    width: 25%;
    text-align: center;
    border-bottom: 1px solid gray;
}

.updateDate_blank {
    width: 25%;
    text-align: center;
    border-bottom: 1px solid gray;
}

.content {
    white-space: normal;
}

#button_box {
    /* height: 40px;
    line-height: 40px;
    text-align: right; */

    width: 80%;
    text-align: right;
    margin: 0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #343a43;
}

#buttons {
    width: 90%;
    margin: 20px auto;
}

.delete_button {
    /* height: 35px; */
    border-radius: 5px;
    /* margin: 0 20px 0 0; */
}

.list_button {
    /* height: 35px; */
    border-radius: 5px;
    /* margin: 0 5px 0 0; */
}

.update_button {
    /* height: 35px; */
    border-radius: 5px;
    /* margin: 0 5px 0 0; */
}

#comment_box {
    /* height: 40px;
    line-height: 40px;
    text-align: right; */

    width: 80%;
    /* text-align: right; */
    margin: 20px auto;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    border-radius: 10px;
    background-color: #343a43;
}

#comment {
    width: 90%;
    margin: 20px auto;
}

.inputBox {
    display: flex;
    margin: 20px auto;
    justify-content: space-evenly;
}

.input {
    width: 50vw;
}

.commentListBox {
    color: white;
}
