.commentBox {
    /* display: flex; */
    /* margin: 10px auto; */
    /* justify-content: space-around; */
}

.content {
    font-size: 14px;
    display: flex;
    width: 70vw;
}

/* .commentLikesBox {
    display: flex;
}

.commentLikes {
    margin: auto 10px;
} */

.commentLikes {
    font-size: 12px;
    color: gray;
    margin: auto 5px;
}

.commentCreatedDate {
    font-size: 12px;
    color: gray;
    margin: auto 5px;
}

.commentUserId {
    font-size: 12px;
    color: gray;
    margin: auto 5px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

.like_button {
    /* height: 35px; */
    border-radius: 5px;
    /* margin: 0 20px 0 0; */
}

.update_button {
    /* height: 35px; */
    border-radius: 5px;
    /* margin: 0 5px 0 0; */
}

.delete_button {
    /* height: 35px; */
    border-radius: 5px;
    /* margin: 0 5px 0 0; */
}
