.comment {
    /* display: flex; */
    /* margin: 10px auto; */
    /* justify-content: space-around; */
}

.content {
    display: flex;
    width: 70vw;
}

.commentLikesBox {
    display: flex;
}

.commentLikes {
    margin: auto 10px;
}
