.commentBox {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.commentItem {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around
}

.content {
    font-size: 14px;
    display: flex;
    width: 70vw;
    align-items: center;
}

.commentContent {
    width: 28vw;
    font-size: 1.5vh;
}

/* .commentLikesBox {
    display: flex;
}

.commentLikes {
    margin: auto 10px;
} */

.commentLikes {
    font-size: 12px;
    color: rgba(255, 0, 0, 0.646);
    margin: auto 5px;
}

.commentCreatedDate {
    font-size: 12px;
    color: gray;
    margin: auto 5px;
}

.commentUserId {
    font-size: 2vh;
    color: rgb(255, 255, 255);
    margin: auto 5px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

.delete_button {
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 1vh;
}

.delete_button:hover {
    background-color: rgb(239, 138, 138);
    box-shadow: 0vh 0vh 2vh 2vh rgb(0, 0, 0);
}

.updateSubmitButton {
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 1vh;
}

.updateSubmitButton:hover {
    background-color: #7eeb65;
    box-shadow: 0vh 0vh 2vh 2vh rgb(0, 0, 0);
}

.like_Button {
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 1vh;
}

.like_Button:hover {
    background-color: #659deb;
    box-shadow: 0vh 0vh 2vh 2vh rgb(0, 0, 0);
}

.updateButton {
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 1vh;
}

.updateButton:hover {
    background-color: #7eeb65;
    box-shadow: 0vh 0vh 2vh 2vh rgb(0, 0, 0);
}


.updateSubmitButton {
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 1vh;
}

.updateSubmitButton:hover {
    background-color: #7eeb65;
    box-shadow: 0vh 0vh 2vh 2vh rgb(0, 0, 0);
}

.delete_Button {
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 1vh;
}

.delete_Button:hover {
    background-color: rgb(239, 138, 138);
    box-shadow: 0vh 0vh 2vh 2vh rgb(0, 0, 0);
}

.checkbox {
    appearance: none;
    /* 기본 체크박스 스타일 제거 */
    background-color: transparent;
    width: 2vh;
    height: 2vw;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border: none;
    /* 추가된 부분: 테두리 제거 */
    margin-right: 1vh;
    /* 추가된 부분: 체크박스와 라벨 사이 간격 */
}

.checkbox:checked {
    background-image: url('../../public/images/checkbox_white1.svg');
    /* 체크된 상태의 이미지 */
}

.checkbox:not(:checked) {
    background-image: url('../../public/images/checkbox_white2.svg');
    /* 체크되지 않은 상태의 이미지 */
}


@media all and (min-width:1024px) and (max-width:1279px) {}

@media all and (min-width:768px) and (max-width:1023px) {
    .commentItem {
        flex-direction: column;
    }
}

@media all and (min-width:480px) and (max-width:767px) {
    .commentItem {
        flex-direction: column;
    }
}

@media all and (min-width:200px) and (max-width:479px) {
    .commentItem {
        flex-direction: column;
    }
}