#pagination_box {}

.page_ul {
    list-style: none;
    text-align: center;
    border: none;
}

/* .page_li {
    display: inline-block;
    border: none;
    color: gray;
    width: 25px;
}

.page_span {
    border: none;
    &:hover::after,
    &:focus::after {
        border-radius: 100%;
        color: white;

    }
}

.currentPage:focus {
    color: white;
}

.otherPage:focus {
    color: gray;
}

.page_li:hover {
    color: blue;
} */
.page_li {
    display: inline-block;
    border: none;
    width: 25px;
}

.page_li:hover {
    color: blue;
}

.page_span {
    color: gray;
}

.currentPage .page_span {
    color: white;
}

.otherPage .page_span {
    color: gray;
}
