#pagination_box {}

.page_ul {
    list-style: none;
    text-align: center;
    border: none;
}

.page_li {
    display: inline-block;
    border: none;
    color: gray;
    width: 25px;
}

.page_span {
    border: none;
}

.active {
    background-color: #5164f5;
    /* 현재 페이지 번호의 배경색 */
    color: white;
    /* 현재 페이지 번호의 글자색 */
    border-radius: 5px;
    /* 배경에 둥근 모서리 추가 */
}

.page_li:hover,
.active {
    cursor: pointer;
    background-color: #263a6c;
    /* 호버 상태와 현재 페이지에 대한 배경색 */
    color: white;
    /* 호버 상태와 현재 페이지에 대한 글자색 */
}