#pagination_box {}

.page_ul {
    list-style: none;
    text-align: center;
    border: none;
}

/* .page_li {
    display: inline-block;
    border: none;
    color: gray;
    width: 25px;
}

.page_span {
    border: none;
    &:hover::after,
    &:focus::after {
        border-radius: 100%;
        color: white;

    }
}

.currentPage:focus {
    color: white;
}

.otherPage:focus {
    color: gray;
}

.page_li:hover {
    color: blue;
} */
.page_li {
    display: inline-block;
    border: none;
    width: 70px;
}

.page_li:hover {
    color: blue;
}

.page_span {
    color: gray;
    cursor: pointer;
}

.currentPage .page_span {
    color: white;
    font-size: 1.4em;
    justify-content: space-around;
    position: relative;
    font-family: "KoPubWorldDotum";
    padding: 2vh 0 2vh 0;
    /* background-color: blue; */

}

.otherPage .page_span {
    color: gray;
    font-size: 1.4em;
    transition: color 0.3s ease;
}

.otherPage .page_span:hover {
    color: #5164f5;
}
