.link {
    text-decoration-line: none;
    color: white;
    transition: color 0.3s ease;
}

.link:hover {
    color: gray;
}

.article_no {
    text-align: center;
    border: none;
}

.article_user {
    text-align: center;
    border: none;
}

.article_reads {
    text-align: center;
    border: none;
}

.article_like {
    text-align: center;
    border: none;
}
