.mypage{
    height: 140vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4b4b4b;
}

.my_info{
    height: 140vh;
    width: 95vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(233, 233, 233);
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 10px;
    font-size: 3vh;

}
.my_input_wrapper{
    position: absolute;
    display: block;
    justify-content: space-between;
    align-items: center;
    top: 19.5vh;
    left: 5vw;
    margin-bottom: 4vh;
    width: 40vw;
    height: 25vh;
    border: 1px dotted black;
    flex-direction: column;
    font-size: 2vh;
}

.mypage_title{
    position: relative;
    margin: 1vh 1vw 1vh 0;
    font-size: 4vh;
    height: 6vh;
    top: 3vh;
}
.my_input_label{
    font-size: 2.3vh;
    color: #333;
    margin-bottom: 0.5rem;
    margin-right: 5vw;
    top: 2.5vh;
    left: 2vw;
    width: 20%;
    text-align: left;
    height: 100%;
    display: flex;
    align-items: center;
    position: static;
}


.mypage_input{
    position: relative;
    flex-grow: 1;
    top: -7.5vh;
    width: 40%;
    height: 2vh;
    padding-top: 0vh;
    margin-left: 2vw;
    bottom: 5vh;
    text-align: left;
    padding: 1vh;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

.contract{
    border: 1px blue dotted;
    left: 25vw;
    position: relative;
    width: 40vw;
    height: 100vh;
}
/* 화면 너비가 375px 이하일 때의 스타일 */
@media (max-width: 375px) {
    .contract {
        position: absolute;
        justify-content: center;
        margin: 15vh 5vw 0 0;
        width: 60vw;
        height: 75vh;
    }

    .my_input_wrapper{
        display: none;
    }
    }

    .contract_title{
        position: relative;
        justify-content: left;
        color: blueviolet;
    }
    .contract_table{
        position: relative;
        width: 100vw;
        height: 50vh;
    }

    .contract_input{
        /* display: block; */
        /* padding: 0 0 0 0; */
        /* justify-content: space-around; */
        width: 17vw;
        height: 10vh;
    }