.idfind {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #4b4b4b;
}


.idfind_area {
    height: 65vh;
    width: 30vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(233, 233, 233);
    margin-top: 20vh;
    border-radius: 3vh;
}

.signup_title {
    font-size: 4vh;
    margin: 0 0 5vh 0;
}

.tabs {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-evenly;
    margin: 10vh 0 5vh 0;
    font-size: 2.5vh;
}

.tab_content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.tab1,
.tab2 {
    width: 60%;
    height: 100%;
    color: white;
    height: 6vh;
    transition: all 0.3s ease;
    font-size: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: 0.1vh solid #3a3a3a82;
}

.tab1:hover,
.tab2:hover {
    background-color: #cecece;
}

.active {
    color: white !important;
    /* Override color for active tab */
    background-color: #3a3a3a !important;
    /* Background color for active tab */
    border-color: #3a3a3a !important;
    /* Border color for active tab */
}

.idfind_inputarea {
    width: 70%;
}

.idfind_inputarea1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 7vh;
}

.id_found_message {
    font-size: 2vh;
}

.password_change_inputarea {
    width: 60%;

}

.password_id {
    width: 20%;
    font-size: 2.2vh;
}


.password_change_inputarea2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;
    width: 100%;
    align-items: center;
}

.password_change_inputarea3 {
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
    width: 100%;
    align-items: center;
}

.user_input {
    flex-grow: 1;
    text-align: left;
    padding: 1.5vh;
    border: 0.1vh solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
    /* Space between input and button */
    width: 95%;
    font-size: 1.8vh;
}

.email_input {
    flex-grow: 1;
    text-align: left;
    height: 4vh;
    border: 0.1vh solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
    /* Space between input and button */
    width: 95%;
    font-size: 1.8vh;
}

.user_input2 {
    flex-grow: 1;
    text-align: left;
    padding: 1.5vh;
    border: 0.1vh solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
    /* Space between input and button */
    width: 80%;
    height: 10%;
    font-size: 1.8vh;
}

.email_input2 {
    flex-grow: 1;
    text-align: left;
    padding: 1.5vh;
    border: 0.1vh solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
    /* Space between input and button */
    width: 80%;
    height: 10%;
    font-size: 1.8vh;
}

.email_input2:focus,
.user_input2:focus,
.email_input:focus,
.user_input:focus {
    border-color: #2e7eef;
    /* 입력 필드 클릭(포커스) 시 테두리 색상을 파란색으로 변경 */
}

.find_id_button {
    width: 40%;
    color: white;
    padding: 1vh 2vh;
    border-radius: 1vh;
    background-color: #3a3a3a;
    transition: all 0.3s ease;
    cursor: pointer;
    border: none;
    font-size: 1.5vh;
}

.find_id_button:hover {
    background-color: #bfbfbf;
    color: black;
}

.change_password_button {
    width: 35%;
    height: 6vh;
    color: white;
    border-radius: 1vh;
    background-color: #3a3a3a;
    transition: all 0.3s ease;
    cursor: pointer;
    border: none;
    font-size: 1.8vh;
    margin: 1.5vh 0 2vh 0;
}

.change_password_button:hover {
    background-color: #bfbfbf;
}

@media all and (min-width:1024px) and (max-width:1279px) {}

@media all and (min-width:768px) and (max-width:1023px) {
    .idfind_title {
        font-size: 4.5vh;
    }

    .signin_area {
        width: 70vw;
    }
}


@media all and (min-width:480px) and (max-width:767px) {
    .idfind_title {
        font-size: 5vh;
    }

    .idfind_area {
        width: 70vw;
    }

    .find_id_button {
        font-size: 1vh;
    }
}


@media all and (max-width:479px) {
    .idfind_title {
        font-size: 5vh;
    }

    .idfind_area {
        width: 70vw;
    }

    .find_id_button {
        font-size: 0.7vh;
    }

    .email_input2,
    .user_input2,
    .email_input {
        font-size: 1vh;
    }

    .password_id {
        font-size: 1.3vh;
    }

    .password_change_inputarea {
        width: 70%;
    }

    .change_password_button {
        width: 65%;
    }
}