@font-face {
    font-family: "KoPubWorldDotum";
    font-weight: 500;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumMedium.eot");
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumMedium.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumMedium.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumMedium.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumMedium.ttf") format("truetype");
    font-display: swap;
}

body {
    font-family: "KoPubWorldDotum";
    overflow-x: hidden;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    min-height: 300px;
}

button {
    font-family: "KoPubWorldDotum";
}

select {
    font-family: "KoPubWorldDotum";
}

::-webkit-scrollbar-track {
    background-color: #cececea4;
    border-radius: 1vh;
}

::-webkit-scrollbar {
    width: 0.05vh;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 1vh;
    background-image: linear-gradient(to bottom, rgb(166, 166, 167), rgb(8, 8, 20));
}