@keyframes shimmer {
  0% {
    background-position: -40rem -20rem;
    /* 시작 위치 변경 */
  }

  100% {
    background-position: 40rem 20rem;
    /* 종료 위치 변경 */
  }
}

.adminuser_title {
  font-size: 4vh;
  color: white;
  margin: 3vh 0 3vh 0;
}

.skeleton_shimmer {
  animation: shimmer 2s infinite linear;
  background: linear-gradient(to right, #ffffff 8%, #dedede 18%, #d6d6d6 33%);
  background-size: 40rem 100%;
}

.adminuser_table {
  width: 100%;
  /* 필요에 따라 조정 */
  border-collapse: collapse;
}

.adminuser_table th,
.adminuser_table td {
  padding: 1vh;
  border-bottom: 0.1vh solid rgb(66, 66, 66);
  font-size: 2.3vh;
  min-width: 15vh;
}

.adminuser_table th {
  background-color: #000000;
  color: white;
}

.adminuser_table th:hover {
  background-color: #b13232;
}

.adminuser_table td {
  background-color: #2f2f2f;
  color: white;
}


.pagination1 {
  display: flex;
  justify-content: center;
  padding: 2vh;
  font-size: 2vh;
}

/* 페이지네이션 버튼 스타일 */
.pagination1 button {
  background-color: #ffffff00;
  /* 버튼 배경색 */
  color: #ffffff;
  /* 대비되는 어두운 텍스트 색상 */
  border: 0.2vh solid #3343c3;
  /* 버튼 가장자리를 정의하는 경계선 */
  border-radius: 10vh;
  padding: 0.5vh 1vh;
  /* 버튼 내부 여백 */
  margin: 0 1vh;
  /* 버튼 간 간격 */
  cursor: pointer;
  /* 클릭 가능한 항목을 나타내는 커서 */
  transition: background-color 0.3s, transform 0.2s;
  /* 상호작용에 대한 부드러운 전환 */
  color: #5164f5;
}

.pagination1 button:hover,
.pagination1 button:focus {
  background-color: rgb(89, 139, 255);
  color: rgb(255, 255, 255);
}

/* 활성 페이지 버튼 스타일 */
.pagination1 button.active {
  background-color: #007bff;
  /* 활성 버튼 배경색 */
  background-color: #ffffff00;
  /* 대비되는 밝은 텍스트 색상 */
  border-color: #007bff;
  /* 경계선 색상이 배경색과 일치 */
  font-weight: bold;
  /* 활성 페이지 번호를 더 돋보이게 함 */
}

/* "<"와 ">" 버튼을 약간 다르게 만들기 */
.pagination1 button:first-child,
.pagination1 button:last-child {
  background-color: #ffffff00;
  /* 탐색 버튼들에 대한 다른 배경색 */
  color: #ffffff;
  /* 이 버튼들에 대한 약간 더 어두운 텍스트 색상 */
}

.pagination1 button:disabled {
  background-color: #ffffff00;
  /* 비활성 상태의 배경색 */
  color: #ffffff;
  /* 비활성 상태의 텍스트 색상 */
  cursor: not-allowed;
  /* 비활성 버튼의 커서 변경 */
}



@media all and (min-width:1024px) and (max-width:1279px) {}

@media all and (min-width:768px) and (max-width:1023px) {}

@media all and (min-width:480px) and (max-width:767px) {}

@media all and (min-width:200px) and (max-width:479px) {

  .adminuser_email {
    word-break: break-word;
    /* 이메일이 너무 길면 줄바꿈 */
  }

  .adminuser_table,
  .adminuser_table thead,
  .adminuser_table tbody,
  .adminuser_table th,
  .adminuser_table td,
  .adminuser_table tr {
    display: block;
  }

  /* Hide table headers on mobile */
  .adminuser_table thead tr {
    position: absolute;
  }

  .adminuser_table tr {
    border: 0.1vh solid #ccc;
    margin-bottom: 0.5em;
  }

  .adminuser_table td {
    /* Make table cells look like rows */
    /* border: none; */
    position: relative;
    padding-left: 50%;
    text-align: right;
    /* border-bottom: 1px solid #ececec; */
  }

  .adminuser_table td:before {
    /* Add content from data-label attribute to each cell */
    position: absolute;
    left: 10px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
    content: attr(data-label);
  }
}