@keyframes shimmer {
    0% {
        background-position: -40rem -20rem;
        /* 시작 위치 변경 */
    }

    100% {
        background-position: 40rem 20rem;
        /* 종료 위치 변경 */
    }
}


.adminboardpage {
    display: flex;
    flex-direction: column;
    width: 70%;
}


.adminboard_title {
    font-size: 4vh;
    color: white;
    margin: 3vh 0 3vh 0;
}

.skeleton_shimmer {
    animation: shimmer 2s infinite linear;
    background: linear-gradient(to right, #ffffff 8%, #dedede 18%, #d6d6d6 33%);
    background-size: 40rem 100%;
}

.adminboard_table {
    width: 100%;
    /* 필요에 따라 조정 */
    border-collapse: collapse;
}

.adminboard_table th,
.adminboard_table td {
    padding: 1vh;
    border-bottom: 0.1vh solid rgb(66, 66, 66);
    font-size: 2.3vh;
    min-width: 15vh;
}

.adminboard_table th {
    background-color: #000000;
    color: white;
}

.adminboard_table th:hover {
    background-color: #3247b1;
}

.adminboard_table td {
    background-color: #373737;
    color: white;
}


.articleTitle {
    color: white;
    /* 클릭 가능한 제목의 기본 색상을 흰색으로 설정 */
    text-decoration: none;
    /* 밑줄 제거 */
    cursor: pointer;
    /* 마우스 오버 시 커서 변경 */
    transition: color 0.3s ease;
    /* 색상 변경 애니메이션 */
}

.articleTitle:hover {
    color: rgb(89, 139, 255);
    /* 마우스 오버 시 제목 색상을 빨간색으로 변경 */
}

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1vh 0 2vh 0;
}


/* 기존 스타일 */
.pagination1 {
    display: flex;
    justify-content: center;
    padding: 2vh;
    font-size: 2vh;
}

/* 페이지네이션 버튼 스타일 */
.pagination1 button {
    background-color: #ffffff00;
    /* 버튼 배경색 */
    color: #ffffff;
    /* 대비되는 어두운 텍스트 색상 */
    border: 0.2vh solid #3343c3;
    /* 버튼 가장자리를 정의하는 경계선 */
    border-radius: 10vh;
    padding: 0.5vh 1vh;
    /* 버튼 내부 여백 */
    margin: 0 1vh;
    /* 버튼 간 간격 */
    cursor: pointer;
    /* 클릭 가능한 항목을 나타내는 커서 */
    transition: background-color 0.3s, transform 0.2s;
    /* 상호작용에 대한 부드러운 전환 */
    color: #5164f5;
}

.pagination1 button:hover,
.pagination1 button:focus {
    background-color: rgb(89, 139, 255);
    color: rgb(255, 255, 255);
}

/* 활성 페이지 버튼 스타일 */
.pagination1 button.active {
    background-color: #007bff;
    /* 활성 버튼 배경색 */
    background-color: #ffffff00;
    /* 대비되는 밝은 텍스트 색상 */
    border-color: #007bff;
    /* 경계선 색상이 배경색과 일치 */
    font-weight: bold;
    /* 활성 페이지 번호를 더 돋보이게 함 */
}

/* "<"와 ">" 버튼을 약간 다르게 만들기 */
.pagination1 button:first-child,
.pagination1 button:last-child {
    background-color: #ffffff00;
    /* 탐색 버튼들에 대한 다른 배경색 */
    color: #ffffff;
    /* 이 버튼들에 대한 약간 더 어두운 텍스트 색상 */
}

.pagination1 button:disabled {
    background-color: #ffffff00;
    /* 비활성 상태의 배경색 */
    color: #ffffff;
    /* 비활성 상태의 텍스트 색상 */
    cursor: not-allowed;
    /* 비활성 버튼의 커서 변경 */
}


.admin_tabbutton {
    padding: 3vh 5vh 2vh 5vh;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    position: relative;
    color: white;
    margin: 0 3vh 3vh 0;
    font-size: 2vh;
    overflow: hidden;
    /* 가상 요소가 버튼 밖으로 넘치지 않도록 설정 */
}

/* 가상 요소 기본 스타일 */
.admin_tabbutton::after {
    content: '';
    position: absolute;
    left: 50%;
    /* 시작 위치를 버튼의 가운데로 설정 */
    bottom: 0;
    width: 0;
    /* 초기 너비를 0으로 설정 */
    height: 0.5vh;
    /* 선의 두께 */
    background-color: #3247b1;
    /* 선의 색상 */
    transition: width 0.3s ease, left 0.3s ease;
}

/* 버튼에 마우스를 hover했을 때 가상 요소 스타일 */
.admin_tabbutton:hover::after {
    width: 100%;
    /* 너비를 100%로 확장 */
    left: 0;
    /* 위치를 왼쪽 끝으로 이동 */
    color: #3247b1;
}

.activeTab::after {
    width: 100%;
    /* 너비를 100%로 설정하여 선을 전체 길이로 표시 */
    left: 0;
    /* 위치를 왼쪽 끝으로 이동 */
}

/* ContractModal */

.modalBackground {
    position: fixed;
    /* 고정 위치 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(88, 88, 88, 0.813);
    /* 반투명 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* 다른 요소 위에 표시 */
}

.modalContent {
    background: #151515;
    color: white;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    /* 모달의 너비 */
    max-width: 500px;
    /* 모달의 최대 너비 */
    z-index: 1001;
}

.modalcontent_title {
    font-size: 3vh;
    margin-bottom: 4vh;
}

.admin_contract_id {
    cursor: pointer;
    transition: color 0.3s ease;
}

.admin_contract_id:hover {
    color: #5164f5;
}

.modalcontent_detail {
    font-size: 2vh;
}





@media all and (min-width:1024px) and (max-width:1279px) {}

@media all and (min-width:768px) and (max-width:1023px) {}

@media all and (min-width:480px) and (max-width:767px) {
    .tabs {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .adminboard_table,
    .adminboard_table thead,
    .adminboard_table tbody,
    .adminboard_table th,
    .adminboard_table td,
    .adminboard_table tr {
        display: block;
    }

    .adminboard_table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .adminboard_table tr {
        margin-bottom: 5px;
        padding: 5px;
    }

    .adminboard_table td {
        border: none;
        position: relative;
        padding-left: 50%;
        text-align: left;
        margin-top: 5px;
        white-space: normal;
    }

    .adminboard_table td:before {
        /* td에 data-label 속성을 기반으로 가상 요소 내용 삽입 */
        position: absolute;
        left: 10px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
        content: attr(data-label);
    }

    .admin_tabbutton {
        margin: 0;
    }
}

@media all and (min-width:200px) and (max-width:479px) {
    @media screen and (max-width: 767px) {

        .tabs {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .adminboard_table,
        .adminboard_table thead,
        .adminboard_table tbody,
        .adminboard_table th,
        .adminboard_table td,
        .adminboard_table tr {
            display: block;
        }

        .adminboard_table thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        .adminboard_table tr {
            margin-bottom: 5px;
            padding: 5px;
        }

        .adminboard_table td {
            border: none;
            position: relative;
            padding-left: 50%;
            text-align: left;
            margin-top: 5px;
            white-space: normal;
        }

        .adminboard_table td:before {
            /* td에 data-label 속성을 기반으로 가상 요소 내용 삽입 */
            position: absolute;
            left: 10px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            text-align: left;
            font-weight: bold;
            content: attr(data-label);
        }

        .admin_tabbutton {
            margin: 0;
        }

    }

}