.signup {
    display: flex;
    height: 150vh;
    flex-direction: column;
    align-items: center;
    background-color: #4b4b4b;
}


.signup_area {
    height: 135vh;
    width: 60vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(233, 233, 233);
    margin-top: 3rem;
    border-radius: 10px;
}

.signup_title {
    margin: 8vh 0 8vh 0;
}

.signup_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.signup_input {
    flex-grow: 1;
    width: 67%;
    text-align: left;
    padding: 1.5vh;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

.signup_input:focus {
    border-color: #2e7eef;
    /* 입력 필드 클릭(포커스) 시 테두리 색상을 파란색으로 변경 */
}

.input_label {
    font-size: 2.5vh;
    color: #333;
    margin-bottom: 0.5rem;
    width: 30%;
    text-align: left;
    height: 100%;
    display: flex;
    align-items: center;
}

.input_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6.5vh;
    width: 100%;
}

.email_wrapper {
    margin-bottom: 6.5vh;
    width: 100%;
}

.email_put {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email_how {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 2.13vh;

}

.sms_wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 20vh;
}

.submit_code_button {
    font-size: 1.2vh;
    color: white;
    background-color: #333;
    /* 버튼의 배경 색상 */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 0.5vw;
    /* 입력 필드와 버튼 사이의 간격 */
    transition: background-color 0.3s;
    width: 5vw;
    height: 5.5vh;
    font-size: 1.5vh;
}

.submit_code_button:hover {
    background-color: #5593ff;
    /* 버튼 호버 색상 */
}

.sms_send {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vh;
    width: 100%;
}

.sms_button {
    display: flex;
    width: 70%;
    flex-direction: column;
}

.sms_verification {
    display: flex;
    /* flex 컨테이너로 설정 */
    align-items: center;
    /* 내부 아이템을 가운데 정렬 */
    position: relative;
    /* 타이머의 위치를 정확하게 조정하기 위해 relative 설정 */
}

.sms_input {
    flex-grow: 1;
    text-align: left;
    padding: 1.5vh;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

.timer {
    position: absolute;
    /* 절대 위치 */
    right: 6rem;
    /* 오른쪽에서부터의 거리 */
    top: 50%;
    /* 상단에서부터의 거리 (가운데 정렬) */
    transform: translateY(-50%);
    /* Y축 기준 가운데 정렬 */
    background-color: #fff;
    /* 배경색 */
    padding: 0 5px;
    /* 내부 여백 */
}


.address_area {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.address_input_button {
    display: flex;
    width: 100%;
    margin-bottom: 1vh;
}

.signup_input1,
.signup_input_detail {
    flex-grow: 1;
    text-align: left;
    padding: 1.5vh;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
    /* Space between input and button */
}

.signup_input1:focus,
.signup_input_detail:focus {
    border-color: #2e7eef;
    /* Focus border color */
}


signup_input_detail {
    flex-grow: 1;
    width: 65%;
    text-align: left;
    padding: 1.5vh;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}


.signup_input_detail:focus {
    border-color: #2e7eef;
    /* 입력 필드 클릭(포커스) 시 테두리 색상을 파란색으로 변경 */
}


.signup_button {
    padding: 2vh 3vw;
    font-size: 2vh;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
    margin: 1vh 0 1vh 0;
}

.signup_button:hover {
    background-color: #5593ff;
    /* 버튼에 마우스를 올렸을 때의 배경 색상을 파란색으로 변경 */
}

.password_container {
    position: relative;
    display: flex;
    align-items: center;
    width: 70%;
}

.eye_icon {
    height: 4vh;
    /* 또는 원하는 크기 */
    width: 2vw;
    /* 또는 원하는 크기 */
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}


.input_with_button_wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start
}

.send_code_button,
.find_address_button {
    font-size: 1.2vh;
    color: white;
    background-color: #333;
    /* 버튼의 배경 색상 */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 0.5vw;
    /* 입력 필드와 버튼 사이의 간격 */
    transition: background-color 0.3s;
    width: 5vw;
    height: 5.5vh;
    font-size: 1.4vh;
}

.send_code_button:hover,
.find_address_button:hover {
    background-color: #5593ff;
    /* 버튼에 마우스를 올렸을 때의 배경 색상 변경 */
}

.error_message {
    color: red;
    font-size: 12px;
    /* 필요에 따라 조절 */
    margin-top: -5px;
    /* 필요에 따라 조절 */
    margin-bottom: 10px;
    /* 필요에 따라 조절 */
}